<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Profile-Page.css">
    <link rel="stylesheet" href="/navBar.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Profile</title>
</head>
<body>
    <div class="whole-page-container">
      <%- include('partials/navBar') %>
      <div class="flash-message">
        <% if (messages.success) { %>
          <div class="flash-message success"><%= messages.success %></div>
        <% } %>
        <% if (messages.error) { %>
          <div class="flash-message error"><%= messages.error %></div>
        <% } %>
      </div> 
      <div class="page_content">
        <hr>
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center">
                        <% if (user.gender === 'male') { %>
                            <img src="/images/male-avatar.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
                        <% } else if (user.gender === 'female') { %>
                            <img src="/images/female-avatar.png" class="avatar img-circle img-thumbnail" alt="avatar">
                        <% } else { %>
                            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                        <% } %>          
                    </div><br>
                    <ul class="list-group">
                        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Score&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</strong></span> 125</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Score&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</strong></span> 13</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Score&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</strong></span> 37</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Score&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</strong></span> 78</li>
                    </ul> 
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <hr>
                            <form class="form" action="/profile_page" method="post" id="registrationForm">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="name" class="label-bold"><h4>Full Name</h4></label>
                                        <input type="text" style="font-weight: bold; font-size: 1.2em;" class="form-control" name="name" id="name" value="<%= user.name %>" placeholder="Full Name" title="enter your full name.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="mobile" class="label-bold"><h4>Mobile Number</h4></label>
                                        <input type="text" style="font-weight: bold; font-size: 1.2em;" class="form-control" name="mobile" id="mobile" value="<%= user.phone %>" placeholder="Enter mobile number" title="enter your mobile number.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="email" class="label-bold"><h4>Email</h4></label>
                                        <input type="email" style="font-weight: bold; font-size: 1.2em;" class="form-control" name="email" id="email" value="<%= user.email %>" placeholder="you@email.com" title="enter your email.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="password" class="label-bold"><h4>Password</h4></label>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter new password" title="enter your new password.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="password2" class="label-bold"><h4>Verify</h4></label>
                                        <input type="password" class="form-control" name="password2" id="password2" placeholder="Verify password" title="enter your password again.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                    </div>
                                </div>
                            </form>
                            <form action="/logout" method="POST" id="logoutForm">
                                <button class="btn btn-lg btn-danger" type="submit"><i class="glyphicon glyphicon-log-out"></i> Logout</button>
                              </form>                              
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</body>
</html>
